<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Blog Application</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header>
    <h1><a th:href="@{/blogs}">My Blog</a></h1>
    <nav>
        <a th:href="@{/blogs/add}">Thêm bài viết</a>
        <a th:href="@{/categories}">Danh mục</a>
    </nav>
</header>

<hr/>

<div th:insert="${content}"></div>

<hr/>

<footer>
    <p>© 2025 - Blog Project | CodeGymX</p>
</footer>
</body>
</html>
